@media screen and(max-width: 767px) {
  .contacts-nav {
    display: none;
  }
}
.contacts-nav {
  list-style: none;
  margin: 0;
  margin-left: auto;

  @media screen and(max-width: 1199px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and(min-width: 1200px) {
    display: flex;
    align-items: flex-end;
  }
}
.contacts-nav__item:last-child {
  @media screen and(min-width: 768px) {
    margin-top: 10px;
  }

  @media screen and(min-width: 1200px) {
    margin-top: 0;

    &:last-child {
      margin-left: 30px;
    }
  }
}
.contacts-nav__link {
  @extend %link;
  display: block;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: $primary-text-color;
  transition: color $transition-duration $timing-duration;
  &:hover,
  &:focus {
    color: $accent-text-color;
  }
  @media screen and(min-width: 768px) {
    font-size: 12px;
    line-height: 1.17;

    @media screen and(min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: 14px;
    }
  }
}
.contacts-nav__link--accent {
  font-size: 34px;
  line-height: 1.18;

  color: $accent-text-color;
  display: block;

  @media screen and(min-width: 768px) {
    display: none;
  }
}
.contacts-nav__link--not-accent {
  @media screen and(max-width: 767px) {
    display: none;
  }
}
.contacts-nav__icon {
  margin-right: 8px;
  fill: currentColor;
  transition: fill $transition-duration $timing-duration;
  // display: none;
  opacity: 0;
  &:hover,
  &:focus {
    fill: $accent-text-color;
  }

  @media screen and(min-width: 768px) {
    opacity: 1;
    // display: block;
  }
  @media screen and(min-width: 1200px) {
    margin-right: 10px;
  }
}
