.header-main__container {
  position: relative;
  @extend %centeredFlex;

  @media screen and(max-width: 480px) {
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
  }
}
.header-main__nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
// .header-main {
//   @extend %centeredFlex;
//   width: 100%;
//   top: 0;
//   left: 0;
//   border-bottom: 1px solid #ececec;
// }
// .header-main {
//   @media screen and (max-width: 1199px) {
//     display: none;
//   }
// }
