// fill doesn't work HEADER ICONS
// .icon-cross {
//   display: none;
// }

// TEAM ICONS
.social-icon {
  display: block;
  padding: 12px 12px;
  margin-top: 16px;
  border-radius: 50%;
  width: 44px;
  height: 44px;

  fill: $icon-color;
  transition: background-color $transition-duration $timing-duration,
    fill $transition-duration $timing-duration;
  &:hover,
  &:focus {
    fill: $title-text-color-secondary;
    background: $icon-accent-color;
  }
}
// FOOTER ICONS
.join-content__social-icon {
  display: block;
  padding: 12px 12px;
  border-radius: 50%;
  width: 44px;
  height: 44px;

  fill: $title-text-color-secondary;
  background: rgba(255, 255, 255, 0.1);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: background-color $timing-duration $transition-duration;
  &:hover,
  &:focus {
    background: $icon-accent-color;
  }
}

.form-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  transition: fill $timing-duration $transition-duration;
}
.order-form__field__form-icon {
  position: absolute;
  bottom: 22px;
  left: 11px;
}
.form-icon--checkbox {
  /* display: inline-block; */
  /* margin-right: 7px; */
  cursor: pointer;
  transition: fill $timing-duration $transition-duration,
    background-color $timing-duration $transition-duration;
}
